<nav class="sidenav">
    <div class="logo" (click)="confirmLogout()" style="cursor: pointer;" title="Logout">
        <h2>{{ storeName }}</h2>
    </div>
    <ul class="nav-links">
        <li>
            <a routerLink="/dashboard" routerLinkActive="active">
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/products" routerLinkActive="active">
                Products
            </a>
        </li>
        <li>
            <a routerLink="/pos" routerLinkActive="active">
                POS / Billing
            </a>
        </li>
        <li>
            <a routerLink="/settings" routerLinkActive="active">
                Settings
            </a>
        </li>
    </ul>
    <div class="footer">
        <button (click)="logout()" class="logout-btn">Logout</button>
    </div>
</nav>